.admin-panel
  .colors-table
    h2
      margin-bottom: 0.8rem
  table
    tbody
      td
        height: auto
        padding: 0
    th,
    td
      &:nth-last-child(1),
      &:nth-last-child(2)
        text-align: center
  .td-color
    display: flex
    justify-content: center
  .colors-titling
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 2rem
