.header-small,
.nav__basket
  color: var(--white-color)
  display: grid
  grid-template-columns: auto auto
  align-items: center
  gap: 0.5rem
  background: var(--text-gradient)
  color: transparent
  color: var(--white-color)
  -webkit-background-clip: text
  background-clip: text
  font-size: var(--normal-font-size)
  text-transform: initial
  position: relative
  &:hover
    color: var(--white-color)
  @media screen and (min-width: 767px)
    font-size: var(--normal-font-size)
    text-transform: initial

  .icon
    font-size: var(--h2-font-size)
    .badge
      background: #dc3545
      border-radius: 100%
      width: 16px
      height: 16px
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      top: -8px
      right: -8px
      color: var(--white-color)
      font-size: var(--small-font-size)
//table {
//  width: 100%;
//  border-collapse: collapse;
//}
//.card__info {
//  display: flex;
//  flex-wrap: wrap;
//}
//th {
//  text-align: left;
//  padding: 5px;
//  color: #FFFFFF;
//}
//td {
//  padding: 10px 5px;
//}
//td input {
//  width: 40px;
//  height: 30px;
//  padding: 5px;
//}
//td button {
//  color: #FFFFFF;
//}
//td img {
//  width: 80px;
//  margin-right: 10px;
//}
//.total__price {
//  display: flex;
//  justify-content: flex-end;
//}
//.total__price table {
//  border-top: 3px solid #fff;
//  width: 100%;
//  max-width: 400px;
//}
//th:last-child,
//td:last-child {
//  text-align: right;
//}
