.products__body
  grid-template-columns: 250px auto
  row-gap: 2rem
.products__content
  grid-template-columns: repeat(3, 1fr)
  gap: 6rem 3rem
  margin-top: 5rem
  margin-bottom: var(--mb-2)
  .products__title,
  .products__price
    white-space: pre
    text-overflow: ellipsis
  .products__card
    position: relative
    height: 132px
    background-color: var(--container-color)
    padding: .75rem
    border-right: .5rem
    display: grid
    cursor: pointer
    border-radius: 1rem
  .products__img
    width: 80px
    position: absolute
    inset: 0
    margin-left: auto
    margin-right: auto
    top: -3rem
    transition: .3s
  .products__card:hover .products__img
    transform: translateY(-.25rem)
  .products__content
    align-self: flex-end
  .products__title,
  .products__price
    font-size: var(--small-font-size)
  .products__price
    font-weight: var(--font-semi-bold)
    color: var(--text-color)!important
  .products__button
    position: absolute
    right: 0
    bottom: 0
    padding: .75rem 1rem
    border-right: .35rem
    border-radius: 1rem 0 1rem 0
    cursor: pointer


.product__container
  grid-template-columns: 250px auto
  gap: 3rem
  .btn__row
    display: flex
    justify-content: end
    align-items: center
