@import "public/variables"
@import "public/default"
@import "public/btn"
@import "public/form"

@import "core/components/color"
@import "core/components/modal"


@import "public/components/header"
@import "public/components/catalog"
@import "public/components/basket"
@import "public/components/product"
@import "public/components/filter"
@import "public/components/pagination"

.public-panel
  @include define-variables()

.public-panel
  margin: var(--header-height) 0 0 0
  font-family: var(--body-font)
  font-size: var(--normal-font-size)
  background-color: var(--body-color)
  color: var(--text-color)
