main
  height: 100vh
  overflow: hidden
  padding-top: 6rem
  .content
    position: relative
    height: 100%
  .recent-orders
    margin-top: 2rem
  .recent-orders h2
    margin-bottom: 0.8rem
  .recent-orders a
    text-align: center
    display: block
    margin: 1rem auto
    color: var(--color-primary)
  .main-header
    position: absolute
    top: 0
    left: 0
    height: 60px
    background: var(--color-background)
    width: 100%
  .main-body
    overflow: auto
    padding-top: 60px
    padding-bottom: 20px
    height: 100%
